# Entornos y configuración local
.env
.env.*
!.env.example
*.local
*.postman

# Backups
**/backups/
**/backup/

# Docker
**/Dockerfile
**/docker-compose*.yml
!docker-compose.yml
**/.dockerignore


# archivos compilados
**/target/
**/build/
**/bin/

# Logs
**/*.log

# IDE
**/.idea/
**/.vscode/
**/*.iml
**/.classpath
**/.project
**/.settings
**/.factorypath